.login-pf {
    background: #030303;
}

.login-pf body {
    background: #080808 repeat-x 50% 0
}

@media (min-width: 768px) {
    .login-pf .container {
        padding-left: 120px;
    }
}

#kc-logo-wrapper {
    background: url("../img/Logo-RedHat-A-Reverse-RGB.svg") no-repeat;

    height: 40px;
    width: 150px;
    right: 5%;
    top: 90%;
    position: absolute;
}

#kc-header-wrapper {
    display: none;
}

.login-pf .container {
    background-color: initial;
}

#username-label {
    margin-top: -14px;
}

#mta-title {
    color: #FFFFFF;
}

#mta-title strong {
    font-size: 40px;
    display: block;
}

#mta-title span {
    font-size: 30px;
    display: block;
    margin-top: -10px;
    margin-bottom: 100px;
}

.login-pf .container {
    bottom: 25%;
    padding-right: 20px;
}

#kc-info-wrapper > p {
    margin-bottom: 10px;
}

@media (min-width: 401px) and (max-width: 1200px) {
    #kc-logo-wrapper {
        position: relative;
        top: 40px;
        right: 0;
        margin: 0 auto;
    }
}

@media (min-width: 401px) and (max-width: 765px) {
    #kc-logo-wrapper {
        top: 15px;
    }
}

@media (max-height: 400px) {
    #kc-logo-wrapper {
        display: none;
    }
}

@media (max-width: 400px) {
    #kc-logo-wrapper {
        display: none;
    }
}

.btn {
    text-transform: capitalize;
}
